* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 25px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
  margin-bottom: 130px;
}
.main {
  width: 1140px;
  margin: 0 auto;
}
/* header styles */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 51px;
}
nav ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 400;
}
nav span {
  color: #fd6e0a;
}
.logo {
  font-size: 45px;
  font-weight: 800;
}
/* banner styles */
.header-banner {
  display: flex;
  align-items: center;
}
.banner-subtitle {
  font-size: 45px;
  font-weight: 600;
}
.banner-title {
  font-size: 61px;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
  color: rgba(117, 117, 117, 1);
}
.banner-details {
  margin: 0 200px;
}
.btn-secondary {
  font-size: 20px;
  font-weight: 700;
  color: black;
  background: #fff8f3;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  padding: 15px 25px;
}
.btn-secondary:hover {
  background-color: #fd6e0a;
}
/* about section styles */
.about-section {
  border-radius: 10px;
  background-color: #fff8f3;
  padding: 130px 150px;
  margin-bottom: 130px;
}
.section-title {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.section-description {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: rgba(117, 117, 117, 1);
}
th,
td {
  padding-left: 80px;
  padding-top: 30px;
}
td {
  font-size: 16px;
  font-weight: 700;
}
/* what i do section styles */
.what-i-do {
  margin-bottom: 130px;
}
.skills {
  display: flex;
  gap: 24px;
}
.skill {
  width: 267px;
  height: 377px;
  padding: 33px;
  margin-top: 50px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
/* resume section */
.resume-section {
  margin-bottom: 113px;
}
.resume-description {
  display: flex;
  gap: 24px;
  margin-top: 113px;
  margin-bottom: 50px;
}
.resume-title {
  font-size: 29px;
  font-weight: 700;
}
.resume-subtitle {
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}
.organization {
  font-size: 17px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}
.resume-details {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
.resume-btn {
  text-align: center;
  margin-top: 70px;
}
hr {
  width: 558px;
}
/* footer section  */
footer {
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  padding: 130px 200px;
}
.footer-title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 28px;
}
.footer-description {
  color: var(--Dark-02, #474747);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}
.footer-icon {
  margin-right: 24px;
}
.input {
  padding: 13px 100px 13px 25px;
  color: 757575;
  border: none;
  margin-bottom: 24px;
  border-radius: 5px;
}
#textarea {
  width: 255px;
  height: 200px;
  resize: none;
}
